
button{
    
    border-bottom-style: dashed;
    transition-delay: all 500ms ease;
    cursor: pointer;
}
.div{
    background-color: purple;
    color: white;
    font-style: italic;
}
button:hover{
     transform: scale(1.2);
}
nav{
    background-color: blue;
    padding: 20px;
    box-shadow: gray 8px 8px 8px;
}
body{
    margin: 0px;
}
.resultado{
 border: 3px;
}
.correcto{
    background-color: green;
    border-color: green;
    box-shadow: green 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.error{
    background-color: red;
    border-color: red;
    box-shadow: red 5px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}